<div>
  <br/>
  <br/>
  <h5>Batman movies found: {{movies.length}}</h5>
  <ul>
    <li *ngFor="let movie of movies">
      {{movie.Title}}
    </li>
  </ul>
  <br/>
  <table id="moviesTable">
    <tr>
      <th><h6>Title</h6></th>
      <th><h6>Year</h6></th>
      <th><h6>IMDb ID</h6></th>
      <th><h6>Type</h6></th>
      <th><h6>Poster</h6></th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.Title}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.imdbID}}</td>
      <td>{{movie.Type}}</td>
      <td><img src="{{movie.Poster}}" alt="" border=3 height=100 width=100></td>
    </tr>
  </table>
</div>
