<div>
  <h3>Batman Movie Finder</h3>

  <h6>Movies found: {{movies.length}}</h6>
  <ul>
    <li *ngFor="let movie of movies">
      {{movie.Title}}
    </li>
  </ul>

  <table id="moviesTable">
    <tr>
      <td><h6>Title</h6></td>
      <td><h6>Year</h6></td>
      <td><h6>imdb ID</h6></td>
      <td><h6>Type</h6></td>
      <td><h6>Poster</h6></td>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.Title}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.imdbID}}</td>
      <td>{{movie.Type}}</td>
      <td><img src="{{movie.Poster}}" alt="" border=3 height=100 width=100></td>
    </tr>
  </table>
</div>
